{% extends 'base.html' %}

{% block title %}{{ article.title }} | SportsConnect{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto">
    {% if article.image %}
    <img class="w-full h-96 object-cover rounded-lg mb-8" src="{{ article.image.url }}" alt="{{ article.title }}">
    {% endif %}
    
    <p class="text-blue-400 font-semibold">{{ article.category.name }}</p>
    <h1 class="text-5xl font-bold my-4">{{ article.title }}</h1>
    <p class="text-gray-400 mb-8">
        By {{ article.author.username }} on {{ article.published_date|date:"F d, Y" }}
    </p>

    <div class="text-lg text-gray-300 leading-relaxed prose prose-invert max-w-none">
        {{ article.content|linebreaks }}
    </div>
</div>
{% endblock %}
