{% extends 'base.html' %}
{% load tz %}

{% block meta %}
<title>{{ event.title }} - Event Detail</title>
{% endblock meta %}

{% block content %}
<p><a href="{% url 'main:home_event' %}"><button>← Back to Event List</button></a></p>

<h1>{{ event.title }}</h1>

<p>
  <b>{{ event.get_category_display }}</b>
  | Views: {{ event.event_views }}
</p>

<p>Waktu acara: {{ event.date|localtime|date:"d M Y, H:i" }}</p>
<p>Lokasi: {{ event.location }}</p>
<p>{{ event.description }}</p>
<p>Harga: Rp.{{ event.price }}</p>

{% if has_ended %}
    <p><strong>Acara ini telah selesai.</strong> Terima kasih atar ketertarikannya!</p>
{% else %}
    <a href="{% url 'main:create_event' %}">
        <button>Daftar</button>
    </a>
{% endif %}

{% if event.user %}
  <p>Pembuat acara: {{ event.user.username }}</p>
{% else %}
  <p>Pembuat acara: Anonymous</p>
{% endif %}

<p><a href="{% url 'main:edit_event' event.id %}"><button>Edit Event</button></a></p>
{% endblock content %}
